@import "bootstrap/scss/bootstrap-grid";

:root {
  --black: #000;
  --white: #fff;
  --gray: #eae9e6;
  --yellow: #ebca53;
  --blue: #2c5192;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 0;
  font-family: "Noto Sans";
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 30px 0 10px;
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
}

.exercise {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--black);
}

.product {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background: var(--white);
}

.product-image {
  position: relative;
}

.product-cart {
  position: absolute;
  inset: auto 10px 10px;
  padding: 6px;
  background: var(--yellow);
  border: solid 1px var(--blue);
  border-radius: 20px;
  text-align: center;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-size: 14px;
}

.share {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin: 50px;
}

.share-icon {
  height: 24px;
}

.share-list {
  display: flex;
  gap: 12px;
}

.marker .product-cart {
  opacity: 0%;
  transition-property: opacity, background;
  transition: 0.5s;
}

.marker:hover .product-cart {
  opacity: 100%;
}

.marker .product-cart:hover {
  background: var(--blue);
}

.pencil .product-cart {
  opacity: 0%;
  transition-property: opacity, background, transform 0.5s;
  transition: 0.5s;
  transform: translateY(-100px);
}

.pencil:hover .product-cart {
  opacity: 100%;
  transform: translateY(0px);
}

.pencil .product-cart:hover {
  background: var(--blue);
}

.scissors {
  transition: background 0.5s;
}

.scissors:hover {
  background: var(--blue);
}

.scissors .product-title {
  transition: color 0.5s;
}

.scissors:hover .product-title {
  color: var(--gray);
}

.scissors .product-price {
  transition: color 0.5s;
}

.scissors:hover .product-price {
  color: var(--gray);
}

.sketchbook .product-image img {
  transition: transform 0.5s;
}

.sketchbook .product-image:hover img {
  transform: scale(1.3);
}

.sketchbook .product-image {
  overflow: hidden;
}

.glue .product-image img {
  transition: filter 0.5s ease;
  filter: blur(3px);
}

.glue .product-image:hover img {
  filter: blur(0px);
}

.glue .product-image {
  overflow: hidden;
}

.share .share-list .share-icon {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0%;
  transform: translateY(-30px);
}

.share:hover .share-list .share-icon {
  opacity: 100%;
  transform: translateY(0px);
}

.share .share-list .share-icon:nth-child(2) {
  transition-delay: 0.2s;
}

.share .share-list .share-icon:nth-child(3) {
  transition-delay: 0.4s;
}
